/** Setup **/

body {
  margin: 0;
  padding: 0;
  background: #fff9e8;
  min-height: 100vh;
  font-family: sans-serif;
  color: #151412
}

main { margin: 24px }

img { 
  float: left; 
  margin: 12px 12px 12px 0
}

main > * { 
  border: solid 1px #bfbfbf;
  padding: 12px;
}
main > *, section { display: flow-root }

p, ul { line-height: 1.5 }

article p span { display: block; }
article p span:last-of-type,
article p span:nth-last-child(2) {
  text-indent: 16px
}

.plays ul { margin-left: 162px }

/*Coluna + linha = célula
Para definir um grid se deve
definir o número de linhas e 
colunas
*/
main{
  
  display: grid;/* Não funciona*/
  grid-template-columns: repeat(2,minmax(auto,1fr)) 250px; /* Divide em 2 frações de 250px*/ 
  grid-template-columns: minmax(auto,1fr), minmax(auto,1fr) 250px; /* Divide em 2 frações automaticas e a última fixa de 250px*/ 
  grid-template-areas: 
  "header header header"
  "content content author"
  "content content aside"
  "plays . aside"
  "foter foter foter"
}

header{
  grid-column: 1/4;
   grid-row: 1/3;
}

footer{
  grid-column: 1/4;
}

header{
  grid-area: header;
}

article{
  grid-area: content;
}

aside{
  grid-area: aside;
}
.author-details{
  grid-area: author;
}

.plays{
  grid-area: plys;
}

footer{
  grid-area: footer;
}